html * {
    font-family: 'AmericanTypewriter';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

th,
td {
    text-align: center;
    padding: 16px;
}

td:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

img {
    padding: 10px;
    width: 250px;
    display: block;
    margin: auto;
}

.quotes {
    width: fit-content;
}

.list {
    margin-bottom: 16px;
}

.option:hover {
    cursor: pointer;
}